.branding-badge::after {
	visibility: hidden;
}

.branding-badge::before {
	visibility: hidden;

}

.branding-badge {
	visibility: hidden;
}

.branding {
	visibility: hidden;
}

.container {
	max-width: 85%;
}

.home-img img {
    width: 80%;
    margin-top: 3%;
}

.home-img {
    text-align: center;
}

.home-head h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    z-index: 999;
}

.home-btn {
	width: 368px;
    height: 86px;
    background: #0CBE82;
    border-radius: 75px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    color: #FFFFFF;
    padding: 3%;
    border: none;
}

.home-btn a {
	color: white;
	text-decoration: none;
}

.home-btn:hover {
    background: white;
    border: solid 3px #0CBE82;
}
.home-btn a:hover {
    color: #0CBE82;
    text-decoration: none;
}

.pay-btn {
	margin-top: 10%;
}


.carddd {
    text-align: center;
    border-radius: 10px;
    margin: 1%;
    box-shadow: 0 1px 15px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
}

.carddd:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_cont {
  padding: 2px 16px;
}


.carddd h2 svg {
	margin: 5%;
	height: 100px;
	width: 100px;
}

.carddd h2 .rich-text p {
	margin: 5%;
}


.carddd h2 .rich-text a{
	color: black;
	text-decoration: underline;
}


body {
    font-family: Poppins;
}

/**/

.navbar {
	margin-bottom: 5%;
    margin-top: 1%;
}


.navbar-light {
	color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.countdown {
    padding: 3% 5%;
    width: 95%;
    color: #0CBE82;
    font-size: 3.5rem;
    text-align: left;
    border-color: lightslategrey;
    border-style: dotted;
    margin-right: 0;
    margin-left: auto;
    margin-top: 5%;
}

.countdown-header {
    text-align: right;

}

.home-left {
    font-family: monospace;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-nav .nav-link {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.2rem;
}


@media screen and (max-width: 768px) {

	.home-img img {
		position: fixed;

	}

	.navbar {
		margin-bottom: 10%;
	}

}

