.branding-badge::after {
	visibility: hidden;
}

.branding-badge::before {
	visibility: hidden;

}

.branding-badge {
	visibility: hidden;
}

.branding {
	visibility: hidden;
}

.container {
	max-width: 90%;
    margin-right: 3%;
}

.home-img img {
	height: 80%;
    margin-top: -13%;
    margin-left: -7%;
}

.home-head h1 {
	padding-top: 20%;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 55px;
	line-height: 126.3%;
}

.home-btn {
	width: 368px;
    height: 86px;
    background: #0CBE82;
    border-radius: 75px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    color: #FFFFFF;
    padding: 3%;
}

.home-btn a {
	color: white;
	text-decoration: none;
}

.home-btn a:hover {
	color: white;
	text-decoration: none;
}


.pay-btn {
	margin-top: 10%;
}


.carddd {
    text-align: center;
    border-radius: 10px;
    margin: 1%;
    box-shadow: 0 1px 15px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
}

.carddd:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_cont {
  padding: 2px 16px;
}


.carddd h2 svg {
	margin: 5%;
	height: 100px;
	width: 100px;
}

.carddd h2 .rich-text p {
	margin: 5%;
}


.carddd h2 .rich-text a{
	color: black;
	text-decoration: underline;
}








