{% extends "base.html" %}
	{% load static %}

{% load wagtailcore_tags %}
{% block body_class %}template-taxinfo{% endblock %}
{% block content %}
<!-- Calendly inline widget begin -->

<div class="container">
	<div class="row">
		<div class="col-md-4">
	<h1>{{ page.header|richtext }}</h1>
	{% with blocks=page.body %}

    {% for block in blocks %}
        {% if block.block_type == 'heading' %}
            <h1>{{ block.value }}</h1> 
            <br/>
        {% else %}
           <p class="block-{{ block.block_type }}">
               {{ block }}
           </p>
        {% endif %}
    {% endfor %}

	{% endwith %}
		</div>
		<div class="col-md-8">
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/multichoices?hide_landing_page_details=1&primary_color=2cb780" style="min-width:320px;height:630px; margin-top: -3%;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->

		</div>
	</div>

</div>




<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->

{% endblock %}

