{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
		{% with blocks=page.body %}
    		{% for block in blocks %}
        		{% if block.block_type == 'heading' %}

					<div class="col-md-5 home-head">
						<h1>{{ block.value }}</h1> 
			            <br/>
		  		{% endif %}
    		{% endfor %}
		{% endwith %}

        <button class="home-btn"> <a href="{% slugurl 'appointments' %}">{{ page.button|richtext }}</a></button>
		</div>

		<div class="col-md-7 home-img">
			<img src="{% static 'img/tax.png' %}" style="height: 75%;">
		</div>
	
	</div>
</div>

{% endblock %}
