{% load static wagtailuserbar %}
{% load wagtailcore_tags %}

<div class="navv">
  <ul>
    <li>
      <a href="{% slugurl 'pay' %}">Pay</a>
    </li>


    <li>
      <a href="{% slugurl 'upload' %}">Upload</a>
    </li>


    <li>
      <a href="{% slugurl 'tax-info' %}">Important tax info</a>
    </li>

    <li>
      <a href="{% slugurl 'appointments' %}">Appointments</a>
    </li>

    <li>
      <a href="{% slugurl 'home' %}">Home</a>
    </li>


    <li class="logo">
      <a href="">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 166.18 64.17"><defs><style>.cls-1{fill:#2cb780;}.cls-2{font-size:21.16px;fill:#231f20;font-family:Poppins-Bold, Poppins;font-weight:700;}.cls-3{font-size:18px;font-family:Poppins-SemiBold, Poppins;font-weight:600;}</style></defs><title>logo</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><circle class="cls-1" cx="14.71" cy="14.01" r="14.01"/><circle class="cls-1" cx="14.18" cy="49.65" r="14.18"/><text class="cls-2" transform="translate(43.62 28.35)">Multi<tspan x="0" y="23">Choices </tspan><tspan class="cls-3" x="92.22" y="23">LLC</tspan></text></g></g></svg>
      </a>
    </li>

  </ul>
</div>




<style type="text/css">

ul {
  margin-top: 3%;
  margin-bottom: 3%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
} 

li {
  float: right;
}

li a {
  font-size: 21px;
  font-weight: 500;
  color: black;
  text-align: center;
  padding: 3px 16px;
  text-decoration: none;
}

li a:hover {
  color: #000;
    text-decoration: none;
    border-bottom: 9px solid #0CBE82;
}


.logo {
    float: left;
    width: 10%;
}

.logo a:hover {
    background-color: transparent;
    border-bottom: 0px solid transparent;
}

/*  .logo {
    float: left;
  }*/

.navv {
  margin: 2% 3%;
  margin-bottom: 5%;
}
</style>
