{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
    
<nav class="container navbar navbar-expand-lg navbar-light">
      <a class="logo navbar-brand" href="{% slugurl 'home' %}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 166.18 64.17"><defs><style>.cls-1{fill:#2cb780;}.cls-2{font-size:21.16px;fill:#231f20;font-family:Poppins-Bold, Poppins;font-weight:700;}.cls-3{font-size:18px;font-family:Poppins-SemiBold, Poppins;font-weight:600;}</style></defs><title>logo</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><circle class="cls-1" cx="14.71" cy="14.01" r="14.01"/><circle class="cls-1" cx="14.18" cy="49.65" r="14.18"/><text class="cls-2" transform="translate(43.62 28.35)">Multi<tspan x="0" y="23">Choices </tspan><tspan class="cls-3" x="92.22" y="23">LLC</tspan></text></g></g></svg>
      </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navTog" aria-controls="navTog" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navTog">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'appointments' %}">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'upload' %}">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'tax-info' %}">Important tax info</a>
            </li>                      
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'pay' %}">Pay</a>
            </li>
        </ul>

  </div>
</nav>




<style type="text/css">

ul {
  margin-top: 3%;
  margin-bottom: 3%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
} 

li {
  float: right;
}

li a {
  font-size: 21px;
  font-weight: 500;
  color: black;
  text-align: center;
  padding: 3px 16px;
  text-decoration: none;
  border-bottom: 9px solid #fff;
}

li a:hover {
  color: #000;
    text-decoration: none;
    border-bottom: 9px solid #0CBE82;
}


.logo {
    float: left;
    width: 13%;
}

.logo a:hover {
    background-color: transparent;
    border-bottom: 0px solid transparent;
}

.navv {
  margin: 2% 3%;
  margin-bottom: 5%;
}

@media screen and (max-width: 768px) {

  .logo {
      width: 50%;
    }
}

@media screen and (min-width: 450px) and (max-width: 768px) {
  
 .logo {
      width: 25%;
}

}


</style>
